.navbar
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}



.text
{
    color: white;
    position: relative;
    right: 5%;
    text-decoration: underline;
    padding: 1rem;
}

.text:hover {
    color: orange;
}