.form_background {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      
}


.legend_container {
    display: flex;
    justify-content: center;
}