body {
  margin: 0;
  padding: 0;
  font-family: 'Comme', sans-serif;
  background: rgb(0,221,255);
  background: linear-gradient(90deg, rgba(0,221,255,1) 0%, rgba(0,89,255,1) 100%); 


    
}

button {
  cursor: pointer;
}
